/* #region common */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Montserrat, serif;
}

body {
    background-color: rgb(245, 244, 249);
}

/* #endregion */

/* #region header */

.header {
    height: 42rem;
    background: linear-gradient(0.4turn, rgb(88, 46, 178), rgb(143, 71, 225));
}

.header-sub-container {
    background: top right / 53rem 38rem no-repeat url('../img/hand.png');
}

@media(max-width: 576px) {
    .header-sub-container {
        background: none;
    }
}

.header-logo {
    height: 2.5rem;
}

.header-lang-item {
    font-size: 1rem;
    color: #a8a8a8;
    cursor: pointer;
    vertical-align: middle;
}

.header-lang-item:hover {
    color: white;
}

@media(max-width: 576px) {
    .header-lang-item {
        display: none;
    }
}

.header-btn-join {
    width: 5rem;
    height: 1.6rem;
    margin-left: 1rem;

    text-align: center;
    padding: inherit;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(88, 46, 178);
    border-radius: 4px;
}

@media(max-width: 576px) {
    .header-title {
        text-align: center;
    }
}

.header-title-main {
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.header-title-text {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.header-btn-more-about {
    width: 12rem;
    height: 3rem;
    font-size: 1rem;
    font-weight: 600;
    border-width: 2px;
}

/* #endregion */

/* #region main */

/* #region main services */

.service {
    height: 100%;
    margin: auto;
    text-align: center;
    border: none;
    padding: 1.9rem 0.6rem 0 0.6rem;
    cursor: pointer;
}

.service:hover {
    box-shadow: 1px 1px 2px 3px rgb(224, 224, 224), -1px -1px 2px 3px rgb(224, 224, 224);
}

.service-unique {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

.service-img-box {
    margin-bottom: 10px;
}

.service-img {
    height: 4rem;
    /* height: 55px; */
    width: min-content;
}

.service-title {
    font-size: 1.1em;
    font-weight: 600;
}

/* #endregion */

/* #region suggestions */

.suggestions {
    height: 10rem;
    background: rgb(109, 55, 195);
}

.suggestions-in {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.suggestions-in-btn {
    width: 16rem;
    height: 3.6rem;
    --bs-btn-bg: rgb(0, 165, 247);
}

@media(max-width: 576px) {
    .suggestions {
        height: fit-content;
    }

    .suggestions-in {
        padding: 3rem 2.5rem 3rem 2.5rem;
        flex-direction: column;
    }

    .suggestions-in-btn {
        margin-top: 2rem;
    }
}

/* #endregion */

/* #endregion */

/* #region footer */
.footer-faq {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.footer-faq-title {
    font-size: 1.3rem;
    font-weight: 500;
}

.footer-faq-text {
    font-size: 1rem;
}

.accordion-body {
    text-align: justify;
}

/* #endregion */